<div class="container">
    <h1>Carros Disponíveis</h1>
    <div class="row">
      <% for (let i=0; i < cars.length; i++) {%>
      <div class="col-md-4">
        <div class="card">
            <img src="<%= cars[i].foto %>" class="card-img-top" alt="Carro">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"><strong><%= cars[i].nome %></strong></p>
              <p class="card-text">Marca: <%= cars[i].marca %></p>
              <p class="card-text">Cor: <%= cars[i].cor %></p>
              <p class="card-text">Valor: <%= cars[i].valor %></p>
              <p class="card-text">Preço da Diária: <%= cars[i].precoDiaria %></p>
              <p class="card-text">Status: <%= cars[i].status %></p>
              <% if (user.role === 'admin') { %>
                <div style="display: flex;
                            gap: 10px;">
                  <a href="/admin/loja/editar-carro?carId=<%= cars[i]._id %>" class="btn btn-primary">Editar</a>
                  <form action="/admin/loja/remover-carro/<%= cars[i]._id %>" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">Remover</button>
                  </form>
                </div>
                
                <% } else { %>
                  <% if (cars[i].status === 'disponivel') { %>
                    <a href="/loja/alugar?carId=<%= cars[i]._id %>" class="btn btn-danger">Alugar</a>
                  <% } else { %>
                    <a href="/loja/alugar?carId=<%= cars[i]._id %>" class="btn btn-danger">Indisponivel</a>
                  <% } %>
              <% } %>
            </div>
          </div>
        </div>
        <% } %>
    </div>
</div>